:root {
	--page-bg: #fff;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	margin-bottom: 0px;
}
[data-bs-theme=dark] {
	--page-bg: #444;
}
[data-bs-theme=blue-theme] {
	--page-bg: #0e1332;
}
.main-wrapper {
    margin-top: 41px;
}
.page.content {
	background: var(--page-bg);
	padding: 10px;
	border-radius: 10px;
	min-height: 80vh;
	margin: 20px 0px;
}

.info-tooltip {
	position: relative;
}

.info-tooltip .tooltip-div {
	position: absolute;
	font-weight: normal;
	background: #fff;
	z-index: 9999;
	padding: 10px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	border-radius: 10px;
	min-width: 150px;
	display: none;
}

.statusBTNLabel {
	width: 30px;
    height: 30px;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}


/*Modal*/
.modal-header {
	padding-bottom: 0px;
}
.close.modal-close {
	background: transparent;
    border: 0px;
    font-size: 2em;
    color: #d39898;
}
.modal-body {
	padding-top: 0px;
}







/*Forms*/
.form-control:focus {
     box-shadow: 0 0 0 .0rem rgba(13, 110, 253, .25); 
}
.form-error {
	display: none;
}







.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 10;
    margin-top: 10px;
}






/*Datatables*/
.table-responsive {
	overflow-x: hidden;
}
.dataTables_wrapper .row {
	align-items: center;
}
.dataTables_wrapper .row div:nth-of-type(2) {
    justify-content: flex-end;
    display: flex;
}
.dataTables_length label {
	display: flex;
	align-items: center;
}
.dataTables_length label select {
	max-width: 70px;
	margin: 0px 5px;
}
.dataTables_filter input {
	min-width: 300px;
}

table.dataTable tr.table-row {
	position: relative;
}
.table-row.suspended td:last-of-type:after {
	position: absolute;
	width: 3px;
	height: 100%;
	right: 0;
	background: orange;
	content: "";
	top: 0;
}

table.dataTable a {
	color: var(--bs-heading-color);
}







/*Uitilities*/
.bold {
	font-weight: bold;
}
.bolder {
	font-weight: bolder;
}
.cursor {
	cursor: pointer;
}
.relative {
	position: relative;
}




/*Search result*/
.search_result {
	background: var(--page-bg);
	width: 100%;
	position: absolute;
	max-height: 400px;
	z-index: 9999;
	border: 1px solid #eff1f3;;
	display: none;
	overflow-y: scroll;
}

.search_result a {
	padding: 10px;
	border-bottom: 1px solid #eff1f3;
	color: var(--bs-heading-color);
	transition-duration: 400ms;
}
.search_result a:hover {
	background: #eff1f3;
}
.search_result a p {
	display: flex;
	flex-wrap: wrap;
	flex-basis: 100%;
	margin: 0px;
	padding: 0px;
}

[data-bs-theme=dark] .search_result {
    border: 1px solid  var(--bs-body-bg-2);
}

[data-bs-theme=dark] .search_result a {
    border-bottom: 1px solid  var(--bs-body-bg-2);
}

[data-bs-theme=dark] .search_result a:hover {
   background:  var(--bs-body-bg-2);
}


/*Swal*/
.swal-button.swal-button--confirm {
	background: #0c5bd1;
}

.swal-button.swal-button--confirm:hover {
    background: #0b4399;
}

.warning-swal .swal-button.swal-button--confirm {
	background: #ff4f4f;
}
.warning-swal .swal-button.swal-button--confirm:hover {
	background: #d33131;
}

.warning-swal .swal-button:focus {
    outline: none;
    box-shadow: 0 0 0 1px #fff, 0 0 0 3px rgb(255 113 126 / 29%);
}